<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="__PUBLIC__/adminlte/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/layui/dist/css/layui.css">
    <link rel="stylesheet" href="__PUBLIC__/table/dist/bootstrap-table.min.css">
    <script src="__PUBLIC__/adminlte/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="__PUBLIC__/layui/dist/layui.js"></script>
    <script src="__PUBLIC__/table/dist/bootstrap-table.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/echarts/3.7.2/echarts.min.js"></script>-->
    <script type="text/javascript" src="__PUBLIC__/common/common.js"></script>
    <script src="__PUBLIC__/adminlte/common-n.js"></script>
</head>
<body>
{__CONTENT__}
</body>
</html>
